BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 100
AlignArrayOfStructures: Left
AllowShortFunctionsOnASingleLine: Empty
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false